{
  "ACCESS-KEY": "your access key",
  "SECRET-KEY": "your secret key",
  "PRICE-LOG": "./logs/pricelog.csv",
  "ORDER-LOG": "./logs/orderlog.csv",
  "BALANCE-LOG": "./logs/mybalance.csv",
  "AMOUNT": 0.01
}
